
<button (click)="refreshRaces()">Click me !</button>
<div *ngIf="races.length > 0; else empty" >
  <h2>Races</h2>
  <ul>
    <li *ngFor="let race of races; index as i">
      {{ i }} - {{ race.name }}
    </li>
  </ul>
</div>
<ng-template #empty>
  <h2>No races</h2>
</ng-template>


<!-- <div [ngSwitch]="races.length">

</div>

<div [ngStyle]="{'fontWeight': fontWeight, 'color': color"}>I've got style</div>
<div [ngClass]="{'first': true, 'second': true, 'third':false}">I've got style</div>  -->
