<div class="row">
  <div class="col-6 text-left"><h2>Mes élèves</h2></div>
  <div class="col-6 text-right"><a class="btn btn-success" routerLink="/eleve/new">Ajouter un élève</a></div>
</div>

<div class="card-columns">
  <div
    class="card text-center"
    *ngFor="let eleve of (eleves | keyvalue)"
    (click)="eleveToDisplay = eleve.value"
    style="cursor: pointer"
  >
    <a [routerLink]="['/eleve', eleve.key]">
      <div class="card-header">Elève {{ eleve.key }}</div>
      <div class="card-body">
        <h5 class="card-title">
          {{ eleve.value.nom | uppercase }} {{ eleve.value.prenom | lowercase }}
        </h5>
      </div>
    </a>
  </div>
</div>
